// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

:root {
  --page-primary: #e60a15;
  --page-bg-light: #f8f5f6;
  --page-bg-dark: #221011;

  --movies-text-main: #1f2937;
  --movies-text-muted: #6b7280;
  --movies-card-bg: #ffffff;

  --detail-text-main: #0f172a;
  --detail-text-muted: #64748b;
}
