<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Report manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-text>
        This application allows registering maintenance reports by capturing a
        photo and the exact geolocation of the place for tracking.
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-button expand="block" (click)="goToNewReport()">
    Create new report
  </ion-button>

  <ion-button expand="block" (click)="goToList()">
    View reports list
  </ion-button>
</ion-content>
